
/* Con las clases 'ng-touched' y 'ng-invalid' seleccionamos aquellos elementos que
   se han visitado pero no se han informado y se ha informado de manera incorrecta */
input.ng-touched.ng-invalid {
  border: 2px solid red;
}

/* Con las clases 'ng-touched' y 'ng-valid' seleccionamos aquellos elementos que se
   han visitado y además se han informado correctamente. */
input.ng-touched.ng-valid {
  border: 2px solid green;
}

.mensaje-error {
  color: red;
}

button:disabled {
  background-color: lightgray;
  border: 1px solid gray;
}
