
<!-- Para trabajar con formularios necesitamos hacer uso de la directiva 'NgForm'. Para
     obtener la referencia a la instancia 'FormGroup' del formulario, usamos una template
     reference variable, a la cual asignamos como valor la propia directiva 'NgForm'. -->
<form ngForm #formularioContacto="ngForm" (ngSubmit)="notificarContacto(formularioContacto)">

  <!-- Para trabajar con elementos de formulario necesitamos hacer uso de la directiva
       'NgModel'. Para obtener la referencia a la instancia 'FormControl' del elemento,
       usamos una template reference variable, a la cual asignamos como valor la propia
       directiva 'NgModel'. -->

  <!-- Nombre del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputNombre">Nombre</label>
      <input
        class="u-full-width"
        id="inputNombre"
        placeholder="Ej. Tim"
        type="text"
        ngModel
        name="nombre"
        #nombreRef="ngModel"
        required>
      <!-- Con la directiva 'NgIf' escribimos o no un elemento en el DOM, es decir, lo
          renderizamos o no en el navegador en función de si la expresión indicada
          como valor resuelve como 'true' o como 'false'. -->
      <div *ngIf="nombreRef.touched && nombreRef.invalid" class="mensaje-error">
        El nombre es un dato obligatorio.
      </div>
    </div>
  </div>


  <!-- Apellidos del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputApellidos">Apellidos</label>
      <input
        class="u-full-width"
        id="inputApellidos"
        placeholder="Ej. Cook"
        type="text"
        ngModel
        name="apellidos">
    </div>
  </div>

  <!-- Móvil del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputMovil">Movil</label>
      <input
        class="u-full-width"
        id="inputMovil"
        placeholder="Ej. 555 666 777"
        type="text"
        ngModel
        name="movil">
    </div>
  </div>

  <!-- Correo electrónico del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputEmail">Correo electrónico</label>
      <input
        class="u-full-width"
        id="inputEmail"
        placeholder="Ej. tim.cook@apple.com"
        type="email"
        ngModel
        name="email">
    </div>
  </div>

  <!-- Cuenta de Facebook del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputFacebook">Facebook</label>
      <input
        class="u-full-width"
        id="inputFacebook"
        placeholder="Ej. tim.cook"
        type="text"
        ngModel
        name="facebook">
    </div>
  </div>

  <!-- Cuenta de Twitter del contacto -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="inputTwitter">Twitter</label>
      <input
        class="u-full-width"
        id="inputTwitter"
        placeholder="Ej. @timcook"
        type="text"
        ngModel
        name="twitter">
    </div>
  </div>

  <!-- Botón guardar -->
  <div class="row">
    <div class="offset-by-three six columns">
      <button
        class="button-primary u-full-width"
        type="submit"
        [disabled]="formularioContacto.invalid">
        Guardar contacto
      </button>
    </div>
  </div>

</form>
